html{
    height: 98vh;
}
.wrapper{
    width: 100%;
    height: 98vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.boton{
    height: 7vh;
    width: 7vw;
    border-radius: 25px;
    margin: 25px
}